<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.TicketService.AlibabaticketMapper">

    <resultMap id="BaseResultMap" type="com.example.TicketService.Alibabaticket">
            <result property="id" column="id" jdbcType="INTEGER"/>
            <result property="total" column="total" jdbcType="BIGINT"/>
            <result property="residue" column="residue" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,total,residue
    </sql>
</mapper>
